<html ng-app="7wc">
  <head>
    <title>7wc</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script>
var myApp = angular.module("7wc", []);
myApp.controller("scoreboard", function($scope) {
  $scope.scoreRows = ["war", "science"];
  function total() {
    var result = 0;
    for(var score in $scope.scoreRows)
      result += this[$scope.scoreRows[score]];
    return result
  }
  $scope.players   = [{name:"d", war:-6, science:2, total:total}, {name:"m", war:6, total:total}]
});
    </script>
  </head>
  <body>
  <div>
  </div>
  <table ng-controller="scoreboard">
    <tr>
      <th></th>
      <th ng-repeat="player in players">
        {{player.name}}
      </th>
    </tr>
    <tr ng-repeat="scoreRow in scoreRows">
      <td>
        {{scoreRow}}
      </td>
      <td ng-repeat="player in players">
        <input type="number" ng-model="player[scoreRow]">
      </td>
    </tr>
    <tr>
      <td></td>
      <td ng-repeat="player in players">
        {{player.total()}}
      </td>
    </tr>
  </table>
  </body>
</html>
