.tr-war {
  background-color:red;
}
.tr-trade {
  background-color:yellow;
}
.tr-guides {
  color: white;
  background-color:purple;
}
.tr-science {
  background-color:green;
}
.tr-building {
  color :white;
  background-color:blue;
}
.tr-wonders {
  background-color:orange;
}

table * {
  padding:0;
  border:0;
  margin:0;
}
table {
  margin-top:3px;
  border-spacing:0;
  border-collapse: collapse;
}
td, th {
  border:1px solid black;
}
